---
layout: default
title: Dancyclopedia
---

    <h1 class="cover-heading">Scribbles of a blind scientist</h1>

Dancyclopedia is a guide to do tasks, I once learnt how to do. Sadly, unless practice follows learning, all knowledge fades. The key objective of Dancyclopedia is to mitigate fading of knowledge in unpracticed tasks, by providing a quick guide of specific topics.

<hr>

<h2>Science repository</h2>

<p>The {{ site.brand }} Science repository is a collection of volumes on mathematical and physical sciences, computer literacy, and statistics.<p>

{% capture why-science %}
Why are these specific volumes included in the {{ site.brand }} Science repository?
{% endcapture %}

{% capture repository1 %}
Because science is cool.
{% endcapture %}

{% include global/collapseable.html benefit=why-science paragraph=repository1 ID="r01" %}

<div class="row">
<div class="col-md-4">
<h3>Mathematical and Physical Sciences (MPS)</h3>

<p>MPS is a volume of notes on topics of mathematics and physics.</p>

        <p class="lead">
      <a href="./MPS/MPS.html" class="btn btn-lg btn-secondary">Open the MPS volume</a>
    </p>
</div>
<div class="col-md-4">
<h3>Computer Literacy</h3>

<p>Computer Literacy is a volume of notes on how to do small, practical tasks on the computer, in context of studying, researching, and publishing scientific content.</p>
        <p class="lead">
      <a href="./CL/CL.html" class="btn btn-lg btn-secondary">Open the Computer Literacy volume</a>
    </p>
</div>
<!--
<div class="col-md-4">
<h3>Haptics</h3>

<p>Haptics is a volume of notes on human factors of touch and haptic technology.</p>
        <p class="lead">
      <a href="./haptics/haptics.html" class="btn btn-lg btn-secondary">Open the haptics hub</a>
    </p>
</div>
-->

<div class="col-md-4">
<h3>Statistics</h3>

<p>Statistics is a volume of notes on statistical methods.</p>
        <p class="lead">
      <a href="./statistics/statistics.html" class="btn btn-lg btn-secondary">Open the Statistics volume</a>
    </p>
</div>

<hr>

<h2>Lifestyle repository</h2>

<p>
The Lifestyle repository is a collection of volumes on cooking, journalism, and human relationships.
</p>

{% capture why-lifestyle %}
Why are these specific volumes included in the {{ site.brand }} Lifestyle repository?
{% endcapture %}

{% capture repository2 %}
Because lifestyle matters.
{% endcapture %}

{% include global/collapseable.html benefit=why-lifestyle paragraph=repository2 ID="r02" %}

<div class="row">
<div class="col-md-6">
<h3>CookBook</h3>

<p>CookBook is a volume of recipes from the {{ site.brand }} author household.</p>
        <p class="lead">
      <a href="./cookbook/cookbook.html" class="btn btn-lg btn-secondary">Open the cookbook</a>
    </p>
</div>
<div class="col-md-6">
<h3>Vocal</h3>

<p>Vocal is an album of short biographies and audio recorded conversations with family, friends, and acquaintances of the {{ site.brand }} author. The album's key objective is to portray multiple life stories and honour the storytellers.</p>
        <p class="lead">
      <a href="./vocal/vocal.html" class="btn btn-lg btn-secondary">Open the vocal album</a>
    </p>
</div>
</div>
