---
layout: default
title: Daniel Hajas
author: Daniel Hajas
reviewer: Danielle Garratt
date: 2022-08-27
update: 2023-01-20
buttonStyle: fg-general-chap
backgroundStyle: bg-general-chap
listOfIcons: [["", ""], ["", ""]]
---

{% assign profile = site.data.volunteering.core-team[0] %}
{% assign profile-sections = site.data.volunteering.daniel %}
{% include team/Daniel/introduction.md %}
{% include team/Daniel/CV.md %}
{% include team/Daniel/publications.md %}

<div class="profilecontainertitle">
<h2>{{ profile.title }} {{ profile.name }}</h2>
</div>
<div class="profilecontainer">
<img src="{{ profile.photo | prepend: site.baseurl }}" class="daniel-profile" alt="{{ profile.alt }}" height="250px" width="230px">

<p>{{ profile.contribution }}</p>
</div>

<div role='tablist'>
  <button role='tab' id='tab-intro' aria-controls='tabpanel-intro' onClick="setTab('intro')">Introduction</button>
  <button role='tab' id='tab-education' aria-controls='tabpanel-education' onClick="setTab('education')">Education</button>
  <button role='tab' id='tab-employment' aria-controls='tabpanel-employment' onClick="setTab('employment')">Employment</button>
    <button role='tab' id='tab-research' aria-controls='tabpanel-research' onClick="setTab('research')">Research</button>
  <button role='tab' id='tab-volunteering' aria-controls='tabpanel-volunteering' onClick="setTab('volunteering')">Volunteering</button>
  <button role='tab' id='tab-achievements' aria-controls='tabpanel-achievements' onClick="setTab('achievements')">Achievements</button>
  <button role='tab' id='tab-publications' aria-controls='tabpanel-publications' onClick="setTab('publications')">Publications</button>
</div>

<div role='tabpanel' id='tabpanel-intro' aria-labelledby='tab-intro'>
  {{ text-introduction | markdownify }}
</div>
<div role='tabpanel' id='tabpanel-education' aria-labelledby='tab-education'>
  {{ text-education | markdownify }}
</div>
<div role='tabpanel' id='tabpanel-employment' aria-labelledby='tab-employment'>
  {{ text-employment | markdownify }}
</div>
<div role='tabpanel' id='tabpanel-research' aria-labelledby='tab-research'>
  {{ text-research | markdownify }}
</div>
<div role='tabpanel' id='tabpanel-achievements' aria-labelledby='tab-achievements'>
  {{ text-qulifications | markdownify }}
</div>
<div role='tabpanel' id='tabpanel-volunteering' aria-labelledby='tab-volunteering'>
  {{ text-volunteering | markdownify }}
</div>
<div role='tabpanel' id='tabpanel-publications' aria-labelledby='tab-publications'>
  {{ text-publications | markdownify }}
</div>

<script>

  setTab('intro');

  function setTab(tabName) {
    console.log(tabName);
    const allTabButtons = document.querySelectorAll('button[role=tab]');

    const tabButtonId = 'tab-' + tabName;
    const selectedTabButton = document.getElementById(tabButtonId);

    allTabButtons.forEach((tabButton) => {
      tabButton.setAttribute('aria-selected', false);
    });
    selectedTabButton.setAttribute('aria-selected', true);

    const allTabPanels = document.querySelectorAll('[role=tabpanel]');

    const tabPanelId = 'tabpanel-' + tabName;
    const selectedTabPanel = document.getElementById(tabPanelId);

    allTabPanels.forEach((tabPanel) => {
      tabPanel.setAttribute('hidden', true);
    });
    selectedTabPanel.removeAttribute('hidden');

    console.log(tabName, selectedTabButton, selectedTabPanel)
  }
</script>
