    {% assign sortedTasks = site.volunteering | sort: 'date' | reverse %}
    
{% if page.url contains "blog" %}
<div id="spotlight" class="spotlight">
<h3>Spotlight: View the latest posts</h3>
<div class="featured-feed">
{% for post in site.posts limit:3 %}
<div class="row">
<div class="col-3">
<img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.thumbnailAlt }}" class="thumbnail-image">
</div>
<div class="col-9">
<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> - {{ post.date | date_to_rfc822 | date: "%d %b %Y" }}
</div>
</div>
{% endfor %}
</div>
{% include global/buttonLink.html url="/blog/all-posts.html" label="View all posts" %}
</div>
{% elsif page.url contains "volunteering" %}
<div id="spotlight" class="spotlight">
<h3>Spotlight: View the latest tasks</h3>
<ul>
{% for member in sortedTasks limit:3 %}
<li>
<a href="{{ member.url | prepend: site.baseurl }}">{{ member.task }}</a> - {{ member.date | date_to_rfc822 | date: "%d %b %Y" }}
</li>
{% endfor %}
</ul>
</div>
{% else %}
<div id="spotlight" class="spotlight">
<h3>Spotlight: The latest news on {{ site.brand }}</h3>
<div class="featured-feed">
{% for news in site.data.news  limit:3 %}
<div class="row">
<div class="col-3">
<img src="{{ news.thumbnail | prepend: site.baseurl }}" alt="{{ news.thumbnailAlt }}" class="thumbnail-image">
</div>
<div class="col-9">
<a href="{{ news.link | prepend: site.baseurl }}">{{ news.headline }}</a> - {{ news.date | date_to_rfc822 | date: "%d %b %Y" }}
</div>
</div>
{% endfor %}
</div>
{% include global/buttonLink.html url="/about/news.html" label="Open the news archive" %}
</div>
{% endif %}