<nav aria-label="Secondary">
<div class="row">
<div class="col-md-5">
{% include global/breadcrumbs.html %}
  {% if page.layout == "post" or page.layout == "recipes" %}
  {% include blog/pagination.html %}
  {% elsif page.layout == "blog" %}
        {% include blog/branch-and-featured.html %}
  {% endif %}
</div>
<div class="col-md-3">
  <button type="button" data-toggle="collapse" data-target="#selector" aria-controls="selector" aria-expanded="false" aria-label="Select">
    <span><i class="fas fa-bookmark fa-lg" aria-hidden="false"></i></span>
  </button>
<div class="collapse" id="selector">
{% include global/select.html %}
</div>
</div>
<div class="col-md-3">
  <button type="button" data-toggle="collapse" data-target="#meta-info" aria-controls="meta-info" aria-expanded="false" aria-label="Page information">
    <span><i class="fa fa-info-circle fa-lg"  aria-hidden="false"></i></span>
  </button>
<div class="blog-post-meta collapse" id="meta-info">
{% include global/meta.html %}
</div>
</div>
</div>
</nav>