      <nav class="navbar navbar-expand-md navbar-dark bg-my-nav" tabindex="0" aria-label="Primary">
<a href="{{ '/index.html' | prepend: site.baseurl }}" class=navbar-brand">
<img src="{{ '/assets/images/Daniel.jpg' | prepend: site.baseurl }}" alt="Project 27 logo" class="logo" width="150em">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNavigation" aria-controls="primaryNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="primaryNavigation">
<ul class="navbar-nav ml-auto" role="menubar">
  {% for item in site.data.navigation %}
  <li>
    <a href="{{ item.link | prepend: site.baseurl }}">{{ item.name }}</a>
  </li>
  {% endfor %}
  </ul>
</div>
</nav>
