<div class="dropdown bg-my-nav">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="volume-selector" aria-haspopup="true">Volume selector</a>
        <div class="dropdown-menu" aria-labelledby="volume-selector">
  {% if page.url contains "seasonal" %}
  {% for item in site.data.volumes.seasonal %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% elsif page.url contains "guide" %}
  {% for item in site.data.volumes.guide %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "blog" %}
  {% for item in site.data.volumes.blog %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% endif %}
</div>
</div>
