.bg-general-land{
background: #9932CC;
}

.bg-general-vol{
background: #8A2BE2;
}

.bg-blog-land{
background: #87CEFA;
}

.bg-blog-vol{
background: #6495ED;
}

.bg-blog-chap{
background: #4169E1;
}

.bg-blog-sect{
background: #0000FF;
}

.bg-guide-land{
background: #90EE90;
}

.bg-guide-vol{
background: #00FF7F;
}

.bg-guide-chap{
background: #3CB371;
}

.bg-guide-sect{
background: #2E8B57;
}

.bg-guide-note{
background: #008000;
}

.bg-nav-header{
background: #C2C5AA;
}

.bg-nav-footer{
background: #C2C5AA;
text-align: center;
}

.photo-of-daniel {
      width: 50%;
}