.bg-general-land{
background: #814FA7;
border-radius: 12px;
}

.bg-general-vol{
background: #734B90;
border-radius: 12px;
}

.bg-general-chap{
background:#6E448E;
border-radius: 12px;
}

.bg-blog-land{
background: #87CEEB;
border-radius: 12px;
}

.bg-blog-vol{
background: #55ADD1;
border-radius: 12px;
}

.bg-blog-chap{
background: #4198BB;
border-radius: 12px;
}

.bg-blog-sect{
background: #2980A2;
border-radius: 12px;
}

.bg-blog-note{
background: #1B5F7A;
border-radius: 12px;
}

.bg-guide-land{
background: #98FB98;
border-radius: 12px;
}

.bg-guide-vol{
background: #7ED27E;
border-radius: 12px;
}

.bg-guide-chap{
background: #54B054;
border-radius: 12px;
}

.bg-guide-sect{
background: #378037;
border-radius: 12px;
}

.bg-guide-note{
background: #336F25;
border-radius: 12px;
}

.bg-nav-header{
background: #D3D3D3;
border-radius: 12px;
}

.bg-nav-footer{
padding-left: 5px;
background: #D3D3D3;
text-align: center;
border-radius: 12px;
}

.bg-background{
background: #F8F5E9;
}

.hidden-text
{display: none;}

.hidden-text{
border: none;
}

