.bg-general-land{
background: #814FA7;
}

.bg-general-vol{
background: #734B90;
}

.bg-general-chap{
background:#6E448E;
}

.bg-blog-land{
background: #87CEEB;
}

.bg-blog-vol{
background: #55ADD1;
}

.bg-blog-chap{
background: #4198BB;
}

.bg-blog-sect{
background: #2980A2;
}

.bg-blog-note{
background: #1B5F7A;
}

.bg-guide-land{
background: #98FB98;
}

.bg-guide-vol{
background: #7ED27E;
}

.bg-guide-chap{
background: #54B054;
}

.bg-guide-sect{
background: #378037;
}

.bg-guide-note{
background: #336F25;
}

.bg-nav-header{
background: #D3D3D3;
}

.bg-nav-footer{
padding-left: 5px;
background: #D3D3D3
;
text-align: center;
}

.bg-background{
background: #F8F5E9;
}