.fg-general-land{
background-color: #814FA7;
font-size: 20px;
color: black;
border: solid rgb(0, 0, 0) 3px;
font-weight: bold;
border-radius: 12px;
margin-bottom: 10px;
margin-top: 10px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-general-vol{
background-color: #734B90;
font-size: 20px;
color: black;
border: solid rgb(0, 0, 0) 3px;
font-weight: bold;
border-radius: 12px;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-general-chap{
background-color: #6E448E;
font-size: 20px;
color: black;
border: solid rgb(0, 0, 0) 3px;
font-weight: bold;
border-radius: 12px;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.next-post{
background-color: #D3D3D3;
font-size: 20px;
color: black;
border: solid rgb(0, 0, 0) 3px;
font-weight: bold;
border-radius: 12px;
margin-top: 15px;
padding: 4px;
margin-left: 1px;
max-width: 100em;
text-align: center;
}

.previous-post{
background-color: #D3D3D3;
font-size: 20px;
color: black;
border: solid rgb(0, 0, 0) 3px;
font-weight: bold;
border-radius: 12px;
margin-top: 15px;
margin-bottom: 15px;
padding: 4px;
white-space: normal;
width: 100px;
text-align: center;
}

.fg-guide-land{
background-color: #98FB98;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-guide-vol{
background-color: #7ED27E;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-guide-chap{
background-color: #54B054;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}
            
.fg-guide-sect{
background-color: #378037;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-guide-note{
background-color: #286128;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-blog-land{
background-color: #87CEEB;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}
      
.fg-blog-vol{
background-color: #55ADD1;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-blog-chap{
background-color: #4198BB;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-blog-sect{ 
background-color: #2980A2;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.fg-blog-note{ 
background-color: #1B5F7A;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.mybtnmps {
background-color: #7ED27E;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}
      
.mybtnmathematics {
background-color: #54B054;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.mybtnclassicmechanics {
background-color: #54B054;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}
  
.mybtnoscillations {
background-color: #54B054;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.mybtnquantummechanics {
background-color: #54B054;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}
  
.mybtncomputerliteracy {
background-color: #7ED27E;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}
  
.mybtnstatistics {
background-color: #7ED27E;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.mybtncookbook {
background-color: #7ED27E;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.mybtnvocal {
background-color: #7ED27E;
font-size: 20px;
color: black;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
text-align: center;
padding: 0 20px;
margin: 0;
}

.mysecondarybtn {
background-color: #D3D3D3;
border: solid black 3px;
font-weight: bold;
margin-top: 30px;
border-radius: 12px;
position: sticky;
display: inline-block;
overflow: hiddens;
font-weight: bold;
}
  
.mybtswitch{
background: #D3D3D3;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
display: inline-block;
margin-bottom: 5px;
}

.volume-selector{
      width: 100%;
      overflow: unset;
      text-overflow: inherit;
      position: absolute;
      text-indent: unset;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
} 