.photo-of-daniel {
width: 50%;
} 

.poweredby{
padding-top: 15px;
height: 80px;
padding-right: 10px;
}

.poweredbyx2{
padding-top: 15px;
height: 80px;
padding-right: 10px;
}

.poweredbyx3{
padding-top: 14px;
height: 85px;
padding-right: 10px;
}

.poweredbyx4{
padding-top: 10px;
height: 80px;
padding-right: 10px;
}

.poweredbyx5{
padding-top: 12px;
height: 83px;
padding-right: 10px;
}

.poweredbyx6{
padding-top: 11px;
height: 80px;
padding-right: 10px;
}

.poweredbyx7{
padding-top: 11px;
height: 80px;
padding-right: 10px;
}

.license {
color: black;
padding-left: 5px;
margin-left: 10px;
display: block;
}

.daniel-profile{
padding-top: 22px;
padding-right: 0px;
}

.danielle-profile{
padding-top: 22px;
padding-left: 5px;
padding-right: 0px;
}

.profile-photo{
padding-top: 0px;
padding-right: 10px;
padding-bottom: 10px;
}

.cover-image{
width: 200px;
justify-content: center;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.blog-cover {
width: 200px;
justify-content: center;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.social-icon {
width: 100%;
height: auto;
}

/* mobile version*/
@media only screen and (min-width: 480px) {
.thumbnail-image-news{
    width: 150%;
    height: auto;
}
}

/* desktop version*/
@media only screen and (min-width: 1200px) {
    .thumbnail-image-news{
        width: 50%;
        height: auto;
    }
    }

/* mobile version*/
@media only screen and (min-width: 480px) {
.thumbnail-image {
width: 80%;
height: auto;
}
}

/* desktop version*/
@media only screen and (min-width: 1200px) {
    .thumbnail-image {
    width: 20%;
    height: auto;
    }
    }

/* mobile version*/
@media only screen and (min-width: 480px) {
    .thumbnail-image-blog {
    width: 100%;
    height: auto;
    }
    }

/* desktop version*/
@media only screen and (min-width: 1200px) {
    .thumbnail-image-blog {
    width: 30%;
    height: auto;
    }
    }

/* mobile version*/
@media only screen and (min-width: 480px) {
    .thumbnail-image-blog1 {
    width: 150%;
    height: auto;
    }
    }

/* desktop version*/
@media only screen and (min-width: 1200px) {
    .thumbnail-image-blog1 {
    width: 60%;
    height: auto;
    }
    }

/* mobile version*/ 
@media only screen and (min-width: 480px) {
.featured-feed {
    padding: 1%;
    display: grid;
    justify-content:center;
    grid-auto-flow: column;
    align-content: center;
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1%;
}
}

/* desktop version*/ 
@media only screen and (min-width: 480px) {
    .featured-feed {
        padding: 1%;
        display: grid;
        justify-content:center;
        grid-auto-flow: column;
        align-content: center;
        height: auto;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1%;
    }
    }

    /* mobile version*/ 
@media only screen and (min-width: 480px) {
.feed {
    padding: 1%;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    align-content: center;
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1%;
}
}

/* desktop version*/ 
@media only screen and (min-width: 480px) {
.feed {
    padding: 1%;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    align-content: center;
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5%;
}
}

    /* mobile version*/ 
    @media only screen and (min-width: 480px) {
.blog-feed {
    padding: 10%;
    display: contents;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 200%;
    row-gap: 1%;
}
}

/* desktop version*/ 
@media only screen and (min-width: 480px) {
.blog-feed {
    padding: 15%;
    display: contents;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 200%;
    row-gap: 5%;
}
}