.photo-of-daniel {
width: 50%;
} 

.powered-by-new {
overflow: hidden;
width: 25%;
height: 60%;
}

.license {
color: black;
padding-left: 5px;
margin-left: 10px;
display: block;
}

.daniel-profile{
padding-top: 22px;
padding-right: 0px;
}

.danielle-profile{
padding-top: 22px;
padding-left: 5px;
padding-right: 0px;
}

.profile-photo{
padding-top: 0px;
padding-right: 10px;
padding-bottom: 10px;
}

.cover-image{
width: 200px;
justify-content: center;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.blog-cover {
width: 200px;
justify-content: center;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.twitter{
width: 20%;
height: 10%;
}

.mastodon {
width: 20%;
height: 10%;
}

.linkedin {
width: 20%;
height: 10%;
}


.youtube{
width: 20%;
height: 10%;
}
                
                
@media screen and (min-width: 480px){
    .social-icon {
        overflow: hidden;
        width: 50%;
        height: 60%;
        }
}

.feature-feed{
    padding: 5%;
    display: block;
    justify-content: center;
    grid-auto-flow: row;
    height: auto;
}

.feed{
    padding: 5%;
    display: block;
    justify-content: center;
    grid-auto-flow: row;
    height: auto;
}

.blog-feed{
    padding: 5%;
    display:block;
    justify-content: center;
    grid-auto-flow: row;
    height: auto;
}

.news-image{
    padding-top: 5%;
    max-width: 80%;
    display: block;
}

.thumbnail-image-blog1{
    padding-top: 5%;
    max-width: 80%;
    display: block;
}

.thumbnail-image-blog{
    padding-top: 5%;
    max-width: 80%;
    display: block;
}

.thumbnail-image{
    padding-top: 5%;
    max-width: 80%;
    display: block;
}

.news-image-testimonials{
    padding-top: 5%;
    max-width: 80%;
    display: block;
}

@media screen and (min-width: 480px){
.feed{
    padding: 18%;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    align-content: center;
    height: auto;
    row-gap: 5%;
}
}

@media screen and (min-width: 480px){
.news-image {
    max-width: 100%;
    display: block;
    padding-top: 5%;
}
}

@media screen and (min-width: 480px) {
.thumbnail-image-blog1{
    max-width: 100%;
    display: block;
    padding-top: 5%;
}
}

@media screen and (min-width: 480px) {
.thumbnail-image-blog{
max-width: 100%;
display: block;
padding: 2%;
}
}

@media screen and (min-width: 480px) {
    .thumbnail-image{
    max-width: 100%;
    display: block;
    padding: 2%;
    }
}

@media screen and (min-width: 480px) {
    .news-image-testimonials{
    max-width: 100%;
    display: block;
    padding: 5%; 
}
}