nav li{
display: list-item;
margin-right: 20px;
font-weight: bold;
}

nav a{
    color: black;
}

.btn-outline-primary{
padding-top: 10px;
}

.btn-outline-secondary{
   padding-top: 10px;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.mycontainer {
    text-align: left;
    padding-right: 20px;
    padding-left: 15px;
}

.mybtn {
    background-color: #C2C5AA;
    border: solid black 3px;
      font-weight: bold;
      margin-top: 30px;
      border-radius: 12px;
      position: relative;
      display: inline-block;
      overflow: hiddens;
    font-weight: bold;
}

.mybtswitch{
    background: #C2C5AA;
    border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      display: inline-block;
      margin-bottom: 5px;
}

.poweredby{
padding-top: 15px;
height: 80px;
padding-right: 10px;
}

.poweredbyx2{
padding-top: 15px;
height: 80px;
padding-right: 10px;
}

.poweredbyx3{
padding-top: 14px;
height: 85px;
padding-right: 10px;
}

.poweredbyx4{
padding-top: 10px;
height: 80px;
padding-right: 10px;
}

.poweredbyx5{
padding-top: 12px;
height: 83px;
padding-right: 10px;
}

.poweredbyx6{
padding-top: 11px;
height: 80px;
padding-right: 10px;
}

.poweredbyx7{
padding-top: 11px;
height: 80px;
padding-right: 10px;
}

.license {
color: black;
padding-left: 5px;
margin-left: 10px;
display: block;
}

.you-are-here {
   font-size: 1.25em;
   color: #000;
   font-family: Charter;
}