nav li{
display: list-item;
margin-right: 20px;
font-weight: bold;
}

nav a{
    color: black;
}

.btn-outline-primary{
padding-top: 10px;
}

.btn-outline-secondary{
   padding-top: 10px;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.mycontainer {
    text-align: left;
    padding-right: 20px;
    padding-left: 15px;
}

.you-are-here {
   font-size: 1.25em;
   color: #000;
   font-family: Charter;
}