nav li{
    display: list-item;
    margin-right: 20px;
    font-weight: bold;
    }

nav a{
    color: black;
}

.btn-outline-primary{
padding-top: 10px;
}

.btn-outline-secondary{
   padding-top: 10px;
}
