---
layout: default
---

<h2>{{ page.title }}</h2>

Read the activity description below, browse available tasks, and bid for one you'd like to work on.

<h3>Activity description</h3>

{{ content }}

<h3>Browse available tasks</h3>

<p>
To browse tasks, <a href="https://trello.com/b/IFZJ0gOo/tasks" target="_blank" rel="noopener noreferrer">open our public task board on Trello.</a>
</p>
Once you found a task you like the sound of, go ahead and bid for the task using the form below.
</p>

<p>Pro tip: Filter tasks using the label names, such as "#ResearchAndDevelopment" to find tasks relevant to specific teams.</p>

<h3>Bid for tasks</h3>

<p>
Fill in your name, Trello username, card link, and e-mail address fields in the form below. We aim to get everyone assigned to their chosen task within 24 hours. In the meantime, <a href="#disclaimers">check out the additional disclaimers.</a>  
</p>
<div class="iframe-container">
<iframe class="responsive-iframe" title="Bidding form" src="https://docs.google.com/forms/d/e/1FAIpQLSfa2LUqqH4CkgtfpKWYQDOgYHU0u5Q2HsdzRuCbprSvy9mzMA/viewform?embedded=true" width="640" height="890" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></div>
<h3>Can't find a suitable task? Create your own!</h3>

<p>
If there is nothing you like the sound of on our task board, we invite you to 
<a id="propose" href="mailto:support22970419+wtkcaqefrjih51ih5nsb@boards.trello.com">propose a new task</a>, that you would be happy to take on.
</p>

<p>You can do this in 5 quick and simple steps:</p>

<ol>
<li>
Open a new e-mail, using the <a href="#propose">link above</a>. The "To" field will already have our e-mail address in it.
</li>
<li>
Type the name of the proposed task into the subject field of the e-mail. Come up with something short, but descriptive. 6-7 words should be enough.
</li>
<li>
Type the description of the task in the body of the e-mail. Try to keep it short (around 50 words), and answer these questions:
<ul>
<li>What do you plan to do? For example, fixing a bug, or implementing a new feature.</li>
<li>Why is this useful for the project? For example, what problem does it solve?</li>
<li>What do you expect to learn from the task?</li>
<li>How long do you think it will take you to complete the task? For example, 8 hours.</li>
</ul>
</li>
<li>
Send the e-mail, then check the task board. The task you proposed should be in the "new tasks" list.
</li>
<li>
Finally, bid for the task you just proposed, using the bidding form above.
</li>
</ol>
</p>

<hr>

<p id="disclaimers">Disclaimers on the bidding process:</p>
<ul>
<li>
A Trello account is required to bit for tasks. It is free and simple to register. Trello has excellent accessibility too, so we highly recommend experiencing it.
</li>
<li>
Once we add you as a member to the task board, and assign a card to you, a notification will be sent by Trello. Keep an eye on it. 
</li>
<li>
We ask for your email address, such that we can get in touch, if we have a question with regards to your bid. Sharing your e-mail address is optional, but we highly recommend it, so we can reach out to you.
</li>
</ul>
