---
layout: default
---

{% if page.lead %}
{% capture lead %}
[{{ page.lead[0] }}]({{ page.lead[1] }})
{% endcapture %}
{% else %}
{% capture lead %}
[Danielle Garratt](/about/team/Danielle/index.html)
{% endcapture %}
{% endif %}

<h2>{{ page.title }}</h2>

<dl>
<dt>
Activity lead:
</dt>
<dd>{{ lead | markdownify }}</dd>
<dd>Team or activity leads work with you to pick the right tasks.</dd>

<dt>
Developmental outcomes:
</dt>
<dd>These are the sets of skills you can develop within this activity.</dd>
<dd>
{% if page.skills %}
<ul>
{% for skillset in page.skills %}
<li>
<a href="{{ skillset.link }}" target="_blank" rel="noopener noreferrer">
{{ skillset.set }}
</a>
</li>
{% endfor %}
</ul>
{% else %}
<p>
Please check again later. We are yet to identify the relevant skillsets with the activity lead.
</p>
{% endif %}
</dd>

<dt>
Prerequisites:
</dt>
<dd>Before you can pick tasks from this activity, you will need:</dd>
<dd>
<ul>
<li>
{% if page.certification %}
Trainee certification: {{ page.certification }}, or higher.
{% else %}
Trainee certification: Intern, or higher.
{% endif %}
</li>
<li>
{% if page.teamExperience %}
Team experience: Current, or past member of the following team(s):
{% for experience in page.teamExperience %}
{{ experience }}, 
{% endfor %}
or the volunteer team.
{% else %}
Team experience: Member of the {{ page.team }} team.
{% endif %}
</li>
</ul>
</dd>
</dl>

<h3>Description </h3>

{{ content }}

<h2>Tasks</h2>

<p>
To browse and select tasks you want to work on, 
<a href="{{ page.board }}" target="_blank" rel="noopener noreferrer">open the team's task board.</a>
</p>

<p>
Once you found a task you like the sound of, bid for the task using your Trello account, by assigning yourself to the task card.
</p>

<h3>Pro tips</h3>

<ul>
<li>
A <a href="https://trello.com" target="_blank" rel="noopener noreferrer">Trello account</a> is required to bit for tasks. It is free and simple to register. Trello has excellent accessibility too, so we highly recommend experiencing it.
</li>
<li>
Filter tasks using the label names, such as "#Apprentice" or "#volunteers" to find tasks relevant to specific levels of difficulty.
</li>
<li>
Can't find a suitable task? Create your own! If there is nothing you like the sound of on our task boards, we invite you to 
<a id="propose" href="mailto:support22970419+wtkcaqefrjih51ih5nsb@boards.trello.com">propose a new task</a>, that you would be happy to take on. You can do this in 4 quick and simple steps:
<ol>
<li>
Open a new e-mail, using the <a href="#propose">link above</a>. The "To" field will already have our e-mail address in it.
</li>
<li>
Type the name of the proposed task into the subject field of the e-mail. Come up with something short, but descriptive. 6-7 words should be enough.
</li>
<li>
Type the description of the task in the body of the e-mail. Try to keep it short (around 50 words), and answer these questions:
<ul>
<li>What do you plan to do? For example, fixing a bug, or implementing a new feature.</li>
<li>How will this task help your team? For example, what problem does it solve?</li>
<li>What do you expect to learn from the task?</li>
<li>How long do you think it will take you to complete the task? For example, 8 hours.</li>
<li>What's your name and membership ID?</li>
</ul>
</li>
<li>
Send the e-mail, then check <a href="https://trello.com/b/IFZJ0gOo/tasks" target="_blank" rel="noopener noreferrer">our task planner board.</a> The task you proposed should be in the "new tasks" list. Team leaders will move the task to the relevant activity, where you can assign yourself to the task card.
</li>
</ol>
</li>
</ul>