---
---
@import 'bootstrap/bootstrap';

html *
{
p {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
h1 {
   font-size: 2em !important;
   color: #000 !important;
   font-family: Arial !important;
}
}