nav li{
display:inline-block !important;
padding-top: 0px;
display: block;
}

#menuContainer:hover div#settingsMenu{
    display: block;
    position: relative;
    z-index: 100;
}

nav a{
    color: black;
}

.btn-outline-primary{
padding-top: 10px;
}

.btn-outline-secondary{
   padding-top: 10px;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.poweredby {
    width: 100px;
    margin-top: 15px; 
}

.poweredbyx2 {
    width: 138px;
    margin-top: 15px;
}

.mybtn {
    background-color: #C2C5AA;
    border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      position: relative;
      display: inline-block;
      overflow: hiddens;
}

.mybtswitch{
    background: #C2C5AA;
    border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      display: inline-block;
      margin-bottom: 5px;
}