.bg-general-land{
      background-color: #9932CC;
      font-size: 20px;
      color: black;
      border: solid rgb(0, 0, 0) 3px;
      font-weight: bold;
      border-radius: 12px;
      margin-bottom: 10px;
      margin-top: 10px;
      }

.bg-general-vol{
            background-color: #8A2BE2;
            font-size: 20px;
            color: black;
            border: solid rgb(0, 0, 0) 3px;
            font-weight: bold;
            border-radius: 12px;
            margin-bottom: 10px;
            margin-top: 10px;
            }

.mybtnnextbutton{
      background-color: #b5c6e4;
      font-size: 20px;
      color: black;
      border: solid rgb(0, 0, 0) 3px;
      font-weight: bold;
      border-radius: 12px;
      margin-top: 15px;
      padding: 4px;
      margin-left: 1px;
      max-width: 100em;
      }

.mybtnpreviousbutton {
      background-color: #b5c6e4;
      font-size: 20px;
      color: black;
      border: solid rgb(0, 0, 0) 3px;
      font-weight: bold;
      border-radius: 12px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 4px;
      white-space: normal;
      width: 100px;
      }

.bg-guide-land{
      background-color: #90EE90;
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }

.bg-guide-vol{
            background-color: #00FF7F;
            font-size: 20px;
            color: black;
            padding: 10px;
            border: solid black 3px;
            font-weight: bold;
            border-radius: 12px;
            }


 .bg-blog-land{
      background-color: #87CEFA;
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }
      
.bg-blog-vol{
            background-color: #6495ED;
            font-size: 20px;
            color: black;
            padding: 10px;
            border: solid black 3px;
            font-weight: bold;
            border-radius: 12px;
            }

.mybtnmps {
      background-color: rgb(2, 175, 2);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }
      
.mybtnmathematics {
      background-color: rgb(1, 202, 1);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }
.mybtnclassicmechanics {
      background-color: rgb(33, 197, 33);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }
  
.mybtnoscillations {
      background-color: rgb(53, 190, 53);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }

.mybtnquantummechanics {
      background-color: rgb(69, 192, 69);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }
  
.mybtncomputerliteracy {
      background-color: rgb(43, 175, 72);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }
  
.mybtnstatistics {
      background-color: rgb(73, 175, 95);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }

.mybtncookbook {
      background-color: rgb(108, 209, 130);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }

.mybtnvocal {
      background-color: rgb(141, 212, 157);
      font-size: 20px;
      color: black;
      padding: 10px;
      border: solid black 3px;
      font-weight: bold;
      border-radius: 12px;
      }        