.logo{
    float: left;
    padding: 10px 0;
}

nav li{
display:inline-block;
margin-left: 30px;
padding-top: 0px;
}

nav a{
    color: black;
}

.bg-my-nav {
background: #b5c6e4;
}

.btn-outline-primary{
padding-top: 10px;
}

.btn-outline-secondary{
   padding-top: 10px;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.mybtn {
background-color: #b5c6e4 !important;
font-size: 20px;
color: black;
margin-bottom: 10px !important;
border: solid black 3px;
font-weight: bold;
border-radius: 12px;
}

.mybtnblog {
    background-color: rgb(16, 16, 233);
    font-size: 20px;
    color: black;
    margin-bottom: 10px !important;
    border: solid black 3px;
    font-weight: bold;
    border-radius: 12px;
    }
    
    .mybtnguide {
        background-color: green;
        font-size: 20px;
        color: black;
        margin-bottom: 10px !important;
        border: solid black 3px;
        font-weight: bold;
        border-radius: 12px;
        }
        .mybtnblog {
            background-color: blue;
            font-size: 20px;
            color: black;
            margin-bottom: 10px !important;
            border: solid black 3px;
            font-weight: bold;
            border-radius: 12px;
            }