.bg-general-land {
  background: #F9DBBE;
  border-radius: 12px;
}

.bg-general-vol {
  background: #F9DBBE;
  border-radius: 12px;
}

.bg-general-chap {
  background: #F9DBBE;
  border-radius: 12px;
}

.bg-blog-land {
  background: #BFE8F8;
  border-radius: 12px;
}

.bg-blog-vol {
  background: #C3E6EE;
  border-radius: 12px;
}

.bg-blog-chap {
  background: #CDE2EF;
  border-radius: 12px;
}

.bg-blog-sect {
  background: #CFE8F2;
  border-radius: 12px;
}

.bg-blog-note {
  background: #C7E3F5;
  border-radius: 12px;
}

.bg-guide-land {
  background: #CBFBCB;
  border-radius: 12px;
}

.bg-guide-vol {
  background: #CBE7CB;
  border-radius: 12px;
}

.bg-guide-chap {
  background: #BDEABD;
  border-radius: 12px;
}

.bg-guide-sect {
  background: #C8E9C8;
  border-radius: 12px;
}

.bg-guide-note {
  background: #C9E8C9;
  border-radius: 12px;
}

.bg-nav-header {
  background: #D3D3D3;
  border-radius: 12px;
}

.bg-nav-footer {
  background: #D3D3D3;
  border-radius: 12px;
}

.bg-background {
  background: #F8F5E9;
}

.hidden-text {
  display: none;
}

.hidden-text {
  border: none;
}

#morevolunteer1 {
  display: none;
}

#morevolunteer2 {
  display: none;
}

#morevolunteer3 {
  display: none;
}

#morevolunteer4 {
  display: none;
}

.fg-general-land {
  background-color: #F9DBBE;
  font-size: 20px;
  color: black;
  border: solid rgb(0, 0, 0) 3px;
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-general-vol {
  background-color: #F9DBBE;
  font-size: 20px;
  color: black;
  border: solid rgb(0, 0, 0) 3px;
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-general-chap {
  background-color: #F9DBBE;
  font-size: 20px;
  color: black;
  border: solid rgb(0, 0, 0) 3px;
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.next-post {
  background-color: #D3D3D3;
  font-size: 20px;
  color: black;
  border: solid rgb(0, 0, 0) 3px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border-radius: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 10px;
  text-align: left;
}

.previous-post {
  background-color: #D3D3D3;
  font-size: 20px;
  color: black;
  border: solid rgb(0, 0, 0) 3px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border-radius: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 10px;
  white-space: normal;
  text-align: left;
}

.fg-guide-land {
  background-color: #CBFBCB;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-guide-vol {
  background-color: #CBE7CB;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-guide-chap {
  background-color: #BDEABD;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-guide-sect {
  background-color: #C8E9C8;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-guide-note {
  background-color: #C9E8C9;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-blog-land {
  background-color: #BFE8F8;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-blog-vol {
  background-color: #C3E6EE;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-blog-chap {
  background-color: #CDE2EF;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-blog-sect {
  background-color: #CFE8F2;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.fg-blog-note {
  background-color: #C7E3F5;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnmps {
  background-color: #7ED27E;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnmathematics {
  background-color: #54B054;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnclassicmechanics {
  background-color: #54B054;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnoscillations {
  background-color: #54B054;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnquantummechanics {
  background-color: #54B054;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtncomputerliteracy {
  background-color: #7ED27E;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnstatistics {
  background-color: #7ED27E;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtncookbook {
  background-color: #7ED27E;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mybtnvocal {
  background-color: #7ED27E;
  font-size: 20px;
  color: black;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.mysecondarybtn {
  background-color: #ff0101;
  border: solid black 3px;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 12px;
  position: sticky;
  display: inline-block;
  overflow: hiddens;
  font-weight: bold;
  padding: auto;
}

.Read-More {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  position: sticky;
  display: inline-block;
  overflow: hiddens;
  font-weight: bold;
}

#Read-More-BTN1 {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  position: relative;
  display: grid;
  overflow: hidden;
  font-weight: bold;
}

#Read-More-BTN2 {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  position: relative;
  display: grid;
  overflow: hidden;
  font-weight: bold;
}

#Read-More-BTN3 {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  position: relative;
  display: grid;
  overflow: hidden;
  font-weight: bold;
}

#Read-More-BTN4 {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  position: relative;
  display: grid;
  overflow: hidden;
  font-weight: bold;
}

.mybtswitch {
  background: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

.volume-selector {
  width: 100%;
  overflow: unset;
  text-overflow: inherit;
  position: absolute;
  text-indent: unset;
  display: inline-block;
  vertical-align: middle;
}

.mybtnswitch {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  line-height: 1;
  margin-top: 3%;
  margin-left: 3%;
  width: 100%;
  border-radius: 20%;
}

.dropdown-item {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 22%;
  position: sticky;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
}

.mybtnquick {
  background-color: #D3D3D3;
  border: solid black 3px;
  font-weight: bold;
  line-height: 1;
  margin-top: 3%;
  margin-left: 3%;
  width: 100%;
  border-radius: 20%;
}

.mybtnquick a {
  color: black;
}

.mybtnquick a:hover {
  color: #0000EE;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: rgb(167, 164, 164);
  opacity: 30%;
  /* And disable the pointer events */
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .mybtnquick {
    max-width: 50%;
    display: block;
    padding: 1%;
  }
}
@media screen and (min-width: 480px) {
  .mybtnswitch {
    max-width: 60%;
    display: block;
    padding: 1%;
  }
}
nav li {
  display: list-item;
  padding-right: 5%;
  font-weight: bold;
}

nav a {
  color: black;
}

.btn-outline-primary {
  padding-top: 10px;
}

.btn-outline-secondary {
  padding-top: 10px;
}

#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}

#skip a:focus {
  left: 0;
  top: 0;
  padding: 3px;
  background: #F9DBBE;
  border: 1px solid #F9DBBE;
}

.photo-of-daniel {
  width: 50%;
}

.img-powered-by-new {
  width: 70%;
  height: auto;
}

.license {
  color: black;
  padding-left: 5px;
  margin-left: 10px;
  display: block;
}

.daniel-profile {
  padding-top: 22px;
  padding-right: 0px;
}

.danielle-profile {
  padding-top: 22px;
  padding-left: 5px;
  padding-right: 0px;
}

.profile-photo {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.cover-image {
  width: 35%;
  height: auto;
  display: block;
}

.blog-cover {
  width: 200px;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.img-follow-us-new {
  width: 30%;
  height: auto;
}

.feature-feed {
  padding: 5%;
  display: block;
  justify-content: center;
  grid-auto-flow: row;
  height: auto;
}

.feed {
  padding: 5%;
  display: block;
  justify-content: center;
  grid-auto-flow: row;
  height: auto;
}

.blog-feed {
  padding: 5%;
  display: block;
  justify-content: center;
  grid-auto-flow: row;
  height: auto;
}

.news-image {
  padding-top: 5%;
  max-width: 80%;
  display: block;
}

.thumbnail-image-blog1 {
  padding-top: 5%;
  max-width: 80%;
  display: block;
}

.thumbnail-image-blog {
  padding-top: 5%;
  max-width: 80%;
  display: block;
}

.thumbnail-image {
  padding-top: 5%;
  max-width: 80%;
  display: block;
}

.news-image-testimonials {
  padding-top: 5%;
  max-width: 80%;
  display: block;
}

@media screen and (max-width: 480px) {
  .img-powered-by-new {
    padding: 0% 20%;
  }
}
@media screen and (max-width: 480px) {
  .img-follow-us-new {
    padding-right: 0%;
  }
}
@media screen and (min-width: 480px) {
  .feed {
    padding: 18%;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    align-content: center;
    height: auto;
    row-gap: 5%;
  }
}
@media screen and (min-width: 480px) {
  .news-image {
    max-width: 100%;
    display: block;
    padding-top: 5%;
  }
}
@media screen and (min-width: 480px) {
  .thumbnail-image-blog1 {
    max-width: 100%;
    display: block;
    padding-top: 5%;
  }
}
@media screen and (min-width: 480px) {
  .thumbnail-image-blog {
    max-width: 100%;
    display: block;
    padding: 2%;
  }
}
@media screen and (min-width: 480px) {
  .thumbnail-image {
    max-width: 100%;
    display: block;
    padding: 2%;
  }
}
@media screen and (min-width: 480px) {
  .news-image-testimonials {
    max-width: 100%;
    display: block;
    padding: 5%;
  }
}
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.mycontainer {
  text-align: left;
  padding-right: 20px;
  padding-left: 15px;
}

.profilecontainer {
  text-align: justify;
  display: inline-flex;
  gap: 20px;
}

.profilecontainertitle {
  padding: 15px;
}

.you-are-here {
  font-size: 1.25em;
  color: #000;
  font-family: Charter;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  background: white;
  max-width: 500px;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.spotlight {
  width: 100%;
  height: auto;
  background: white;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.announcement {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
  background: #D3D3D3;
  color: black;
  margin: 0;
  padding: 0%;
  padding-bottom: 0%;
  vertical-align: middle;
  border: solid black 3px;
}

.announcement a {
  color: black;
}

.announcement a:hover {
  color: #0000EE;
}

@media screen and (min-width: 480px) {
  .spotlight {
    padding: 0% 20%;
  }
}
html * p {
  font-size: 1em !important;
  color: #000 !important;
  font-family: Helvetica !important;
  text-align: left;
}
html * ol {
  text-align: left;
}
html * ul {
  text-align: left;
}
html * li {
  text-align: left;
}
html * dl {
  text-align: left;
}
html * h1 {
  font-size: 2.5em;
  color: #000;
  font-family: Charter;
}
html * h2 {
  font-size: 2.25em !important;
  color: #000 !important;
  font-family: Charter !important;
}
html * h3 {
  font-size: 2em !important;
  color: #000 !important;
  font-family: Charter !important;
}
html * h4 {
  font-size: 1.75em !important;
  color: #000 !important;
  font-family: Charter !important;
}
html * h5 {
  font-size: 1.5em !important;
  color: #000 !important;
  font-family: Charter !important;
}
html * h6 {
  font-size: 1.25em !important;
  color: #000 !important;
  font-family: Charter !important;
}

/*# sourceMappingURL=main.css.map */