<div class="container mt-5">
<div class="row">
{% for item in teamMembers %}
<div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column align-items-center mb-4">
<h4>{{ item.name }} - {{ item.role }}</h4>

<img src="{{ '/assets/images' | prepend: site.baseurl }}{{ item.photo }}" alt="{{ item.alt }}" class="profile-pic img-fluid mb-3">


<a href="{{ item.profile | prepend: site.baseurl }}" class="mb-3 {{ page.buttonStyle }}">View {{ item.shortname }}'s profile</a>

<p>{{ item.contribution }}</p>

</div>
{% else %}
<p>Currently, there are no members in this team.</p>
{% endfor %}
</div>
</div>