---
layout: default
title: Project27 Home Page
author: Daniel Hajas
reviewer: Danielle Garratt
date: 2022-08-27
updated: 2023-01-21
licence: copyright
buttonStyle: fg-general-land
backgroundStyle: bg-general-land
listOfIcons: [["fas fa-pencil-alt", ""], ["fas fa-compass", ""], ["fa-solid fa-handshake", ""], ["fa-solid fa-person-chalkboard", ""]]
---

<h2>What is {{ site.brand }}?</h2>

<p>
{{ site.brand }} is a place for learning. The content draws on lived experiences and professional skills of the {{ site.brand }} team. It is developed by a couple - Daniel and Danielle. Daniel is a scientifically-minded blind person, with an interest in social entrepreneurship. Danielle covers art, media, gaming, and self-advocacy, while expertly navigating the world of learning disability.
</p>

<p>
Our team and services help blind or learning disabled people to develop skills that matter. We help reduce frustrations caused by inaccessible learning tools, and build confidence in people's abilities. We do this through peer support, personalised opportunities for learning, creating and discovering new challenges in a safe place, built by it's community.
</p>

      <a href="./about/index.html" class="{{ page.buttonStyle }}">Read more about {{ site.brand }}</a>

{% include spotlight.html %}

<hr>

<h2>What we do</h2>

<p>
We tell our story. We teach and guide. We involve blind or learning disabled learners. We support you.
</p>

<blockquote>
"Tell me and I forget. Teach me and I remember. Involve me and I learn." - Benjamin Franklin
</blockquote>

{% assign dataFile = site.data.navigation %}
{% include global/grid-generator.html heading="h3" %}