---
layout: default
title: Project27 Guide
buttonStyle: fg-guide-land
backgroundStyle: bg-guide-land
listOfIcons: [["fas fa-atom", ""], ["fas fa-desktop", ""], ["fas fa-chart-line"], ["fas fa-utensils", ""], ["fas fa-record-vinyl", ""]]
levelToOpen: volume
---
<div class="container">
    <h2 class="cover-heading">The {{ site.product }}: Scribbles of a blind scientist</h2>

<blockquote>
The {{ site.brand }} {{ site.product }} is a set of descriptive notes on how to do tasks, I once knew how to do. Sadly, unless practice follows learning, all knowledge fades. - Daniel hajas
</blockquote>

<p>The key aim of {{ site.product }} is to offer a quick reference in unpracticed tasks, organised into specific topics.
Its additional aims are to revise, study, research, innovate, and make aware.</p>

<hr>

<h3>Science collection</h3>

<p>The {{ site.brand }} Science collection is a collection of volumes on mathematical and physical sciences, computer literacy, and statistics.<p>

{% capture why-science %}
Why are these volumes included in the Science collection?
{% endcapture %}

{% capture repository1 %}
<h4>Mathematical and Physical Sciences</h4>

<p>Editing the MPS volume is a good opportunity to</p>
<ol>
<li>
revise the author's knowledge on physics;
</li>
<li>
organise previously written notes on mathematics and physics
<ul>
<li>
into sections and chapters, which make more structural sense, than the original organisation of notes, and
</li>
<li>
 according to {{ site.brand }} guidelines;
</li>
</ul>
</li>
<li>
research, experiment with, and log ways of writing scientific notation in accessible formats.
</li>
</ol>

<h4>Computer literacy</h4>

<p>Editing the Computer literacy volume is a good opportunity to</p>

<ol>
<li>
organise "how to" notes on various topics of computer literacy,
</li>
<li>
provide specific guidance and alternative solutions for screen reader users, where available online resources are not considering accessibility.
</li>
</ol>

<h4>Statistics</h4>

<p>Understanding the calculations of statistics, and being able to perform statistical analysis may be useful in most experimental branches of science, for example psychology, sociology, computer science, or any branch of natural science. Editing the Statistics volume is a good opportunity to</p>
<ol>
<li>
study how statistical methods work at the mathematical and conceptual level;
</li>
<li>
practice statistical analysis using the open source program "R";
</li>
<li>
share guidance on how to use R-markdown to interact with R in accessible ways.
</li>
</ol>
{% endcapture %}

{% include global/collapseable.html trigger=why-science paragraph=repository1 ID="r01" %}

{% assign dataFile = site.data.volumes.guide %}
{% assign gridLimit = 3 %}
{% include global/grid-generator.html heading="h4" %}


<hr>

<h3>Lifestyle collection</h3>

<p>
The Lifestyle collection is a collection of volumes on cooking, journalism, and human relationships.
</p>

{% capture why-lifestyle %}
Why are these volumes included in the Lifestyle collection?
{% endcapture %}

{% capture repository2 %}
<h4>Cookbook</h4>

<p>Editing the Cookbook is a good opportunity to</p>
<ol>
<li>
challenge the misconception of "blind people cannot cook", by showing that people with sight loss may enjoy being creative in the kitchen, and are able to excel in gastronomical activities;
</li>
<li>
organise the {{ site.brand }} recipes into an online cookbook, according to the project guidelines;
</li>
<li>
research semantic text-to-speech solutions in context of measuring units used in recipes;
</li>
<li>
study the management of simple databases, such as list of ingredients.
</li>
</ol>

<h4>Vocal</h4>

<p>Editing the Vocal album is a good opportunity to</p>
<ol>
<li>
study and share best practices of spcific aspects of journalism, such as interview techniques;
</li>
<li>
study and share how to do audio editing in practice using the Reaper program;
</li>
<li>
listen to, honour, and capture stories of family, friends, and other acquaintances.
</li>
</ol>
{% endcapture %}

{% include global/collapseable.html trigger=why-lifestyle paragraph=repository2 ID="r02" %}

{% assign dataFile = site.data.volumes.guide %}
{% assign gridOffset = 3 %}
{% include global/grid-generator.html heading="h4" %}

</div>