{% if page.announcement %}
<div class="announcement">
<p>
    📣 {{ page.announcement }}
</p>
</div>
{% elsif page.title == "Project27 - Skills that matter" %}
<div class="announcement">
<p>
    📣 Time to have your say!
    <a href="{% link about/stakeholders/consult-me.md %}">Express your interest in our upcoming stakeholder engagement,</a> or 
    <a href="{% link about/stakeholders/my-question.md %}">ask your questions.</a>
</p>
</div>
{% elsif page.url contains "guide/" %}
<div class="announcement">
<p>
    📣 The {{ site.brand }} {{ site.product }} is a 
<a target="_blank" rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/Software_release_life_cycle">
beta version.
</a>
</p>
</div>
{% elsif page.url contains "volunteering/" %}
<div class="announcement">
<p>
    📣 The {{ site.brand }} Volunteering site is a 
<a target="_blank" rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/Software_release_life_cycle">
beta version.
</a>
</p>
</div>
{% else %}
<div class="announcement">
<p>
    📣 This area of the website is a 
<a target="_blank" rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/Software_release_life_cycle">
beta version.
</a>
</p>
</div>
{% endif %}