<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
    <div class="col-md-3">
    <a href="https://twitter.com/project27skills/">
    <img class="img-follow-us-new" src="{{ '/assets/images/icons/twitter logo.png' | prepend: site.baseurl }}" alt="Twitter">
    </a>
    </div>
    <div class="col-md-3">
    <a href="/404.html">
    <img class="img-follow-us-new" src="{{ '/assets/images/icons/mastodon logo.jpg' | prepend: site.baseurl }}" alt="Mastodon">     
    </a>
    </div>
    <div class="col-md-3">
    <a href="/404.html">
    <img class="img-follow-us-new" src="{{ '/assets/images/icons/linkedin logo.png' | prepend: site.baseurl }}" alt="Linkedin">  
    </a>
    </div>
    <div class="col-md-3">
    <a href="/404.html">
    <img class="img-follow-us-new" src="{{ '/assets/images/icons/youtube logo.jpg' | prepend: site.baseurl }}" alt="Youtube">  
    </a>
    </div>
    </div>