<div class="row">
<div class="col-md-6" id="skip">
<a class="d-flex justify-content-center" href="#mainContent">Skip to main content</a>
</div>
<div class="col-md-6" id="skip">
<a class="d-flex justify-content-center" href="#footerContent">Skip to footer</a>
</div>
</div>

<div class="row">
<div class="col">
{% if page.layout == "solutions" %}
<a href="{{ '/index.html' | prepend: site.baseurl }}" class="navbar-brand">
      <img src="{{ '/assets/images/Project27 logo - solutions.png' | prepend: site.baseurl }}" alt="Project 27 Solutions logo" class="logo" width="60px" height="auto">
      </a>
      {{ site.motto-solutions }}
{% else %}
<a href="{{ '/index.html' | prepend: site.baseurl }}" class="navbar-brand">
      <img src="{{ '/assets/images/Project27 logo.png' | prepend: site.baseurl }}" alt="Project 27 Skills logo" class="logo" width="60px" height="auto">
      </a>
      {{ site.motto }}
      {% endif %}
</div>
</div>

<div class="row">
<div class="col">
      {% include global/navigation-global.html %}
</div>
</div>

<div class="row">
<div class="col">
{% include global/navigation-hero-banner.html %}
</div>
</div>

<div class="row">
<div class="col">
{% include global/announcements.html %}
</div>
</div>

