{% include global/reading-time.html %}
{% if page.author %}
<p>Written by: {{ page.author }}</p>
{% else %}
<p>Written by: Daniel Hajas</p>
{% endif %}
{% if page.reviewer %}
<p>Reviewed by: {{ page.reviewer }}. <a href="{{ '/guidelines/review.html' | prepend: site.baseurl }}">Read our guidelines on reviews.</a></p>
{% else %}
<p>Reviewed by: Danielle Garratt. <a href="{{ '/guidelines/review.html' | prepend: site.baseurl }}">Read our guidelines on reviews.</a></p>
{% endif %}
{% if page.date %}
<p>Published on: {{ page.date | date_to_string }}</p>
{% else %}
<p>Published on: {{ '2021-01-01' | date_to_string }}</p>
{% endif %}
{% if page.updated %}
<p>Revised on: {{ page.updated | date_to_string }}</p>
{% else %}
<p>Revised on: {{ '2023-01-01' | date_to_string }}</p>
{% endif %}
{% if page.updated %}
{% assign updatedYear = page.updated | date: '%Y'%}
{% assign updatedMonth = page.updated | date: '%b'%}
{% assign updatedDay = page.updated | date: '%d'%}
{% assign reviseYear = updatedYear | plus: 2 %}
<p>Revision due: {{ updatedDay }} {{ updatedMonth }} {{ reviseYear }}</p>
{% else %}
<p>Revision due: {{ '2024-01-01' | date_to_string }}</p>
{% endif %}