<div class="navbar navbar-expand-md bg-nav-header">

  <button type="button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavigation" aria-controls="primaryNavigation"
   aria-expanded="false" aria-label="Toggle global navigation">
    <span class="fa-solid fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" id="primaryNavigation">

      <nav class="navbar-dark" tabindex="0" aria-label="Global">
        <ul class="navbar-nav" role="menubar">
     {% for menu in site.data.navigation-global %}  
               <li>
            <span  data-bs-toggle="dropdown" aria-haspopup="true">{{ menu.label }}</span>
        <div class="dropdown-menu">
  {% for item in menu.dropdown-items %}
          <a class="dropdown-item" href= "{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</div>
</li>
{% endfor %}
</ul>
</nav>

      <nav class="navbar-dark" tabindex="0" aria-label="Context">
        <ul class="navbar-nav" role="menubar">
{% include global/navigation-context.html %}
</ul>
</nav>

</div>

{% if page.layout == "solutions" %}
{% include global/buttonLink.html label="Co-design inquiries" url="research-services/index.html" %} 
{% else %}
{% include global/buttonLink.html label="Book support" url="support/booking-page.html" %}
{% endif %}

</div>