{% if page.url contains "team/" %}
  {% for item in site.data.navigation-context["team"] limit: 3 %}
    <li class="nav-item">
    <a href="{{ item.link | prepend: site.baseurl }}"
    class="nav-link active" aria-current="page"
    >
    {{ item.name }}
    </a>
  </li>
  {% endfor %}
{% elsif page.url contains "partners/" %}
  {% for item in site.data.navigation-context["partners"] limit: 3 %}
    <li class="nav-item">
    <a href="{{ item.link | prepend: site.baseurl }}"
    class="nav-link active" aria-current="page"
    >
    {{ item.name }}
    </a>
  </li>
  {% endfor %}

{% elsif page.url contains "support/" %}
  {% for item in site.data.navigation-context["support"] limit: 3 %}
    <li class="nav-item">
    <a href="{{ item.link | prepend: site.baseurl }}"
    {% assign truncatedItemLink = item.link | remove: 'index.html' %}
    {% if page.url contains truncatedItemLink %}
    class="nav-link active" aria-current="page"
    {% endif %}
    >
    {{ item.name }}
    </a>
  </li>
  {% endfor %}{% elsif page.layout == "solutions" %}
  {% for item in site.data.navigation-context["solutions"] limit: 3 %}
    <li class="nav-item">
    <a href="{{ item.link | prepend: site.baseurl }}"
    {% assign truncatedItemLink = item.link | remove: 'index.html' %}
    {% if page.url contains truncatedItemLink %}
    class="nav-link active" aria-current="page"
    {% endif %}
    >
    {{ item.name }}
    </a>
  </li>
  {% endfor %}
{% else %}
  {% for item in site.data.navigation-context["skills"] limit: 3 %}
  <li class="nav-item">
    <a href="{{ item.link | prepend: site.baseurl }}"
    {% assign truncatedItemLink = item.link | remove: 'index.html' %}
    {% if page.url contains truncatedItemLink %}
    class="nav-link active" aria-current="page"
    {% endif %}
    >
    {{ item.name }}
    </a>
  </li>
  {% endfor %}
  {% endif %}