    <!-- Mathematics script -->
<script type="text/x-mathjax-config">
(function () {

MathJax.Hub.Config({
	'showProcessingMessages': false,
	'messageStyle': 'none'
});

if (typeof MathJaxListener !== 'undefined') {
	MathJax.Hub.Register.StartupHook('End', function () {
		MathJaxListener.invokeCallbackForKey_('End');
	});
}

})();
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!--script for read more modal -->
<script defer src="{{ '/assets/js/modal.js' | prepend: site.baseurl}}"></script>

<!--script for select pop-up -->
<script defer src="{{ '/assets/js/pop-up.js' | prepend: site.baseurl}}"></script>