<{{ include.heading }}>
<a href="{{ item.link | prepend: site.baseurl }}">
{{ item.name }}
</a>
</{{ include.heading }}>

{% if item.icon contains "." %}
<img src="{{ '/assets/images/icons/' | prepend: site.baseurl }}{{ item.icon }}" aria-hidden="true" alt="{{ item.icon }}" width="45px">
{% else %}
<i class="{{ item.icon }} fa-lg" aria-hidden="true"></i>
{% endif %}

      <p>{{ item.description }}</p>

{% if page.title == "Project27 Guide" %}
<div class="row">
<div class="col">
<div id="{{ page.listOfDots[loopIndex] }}"></div>

{% include guide/why.html %}
</div>
</div>
<div class="row">
<div class="col">
<button onclick="{{ page.listOfFunctions[loopIndex] }}" id="{{ page.listOfButtons[loopIndex] }}"class= "Read-More">Read More</button>
</div>
</div>
{% endif %}
